<!DOCTYPE html>
<html lang="en">
<head>
  <% include headers/header %>
  <% include headers/styles %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= config.appName %></title>
</head>
<body>
  <%- include('parts/main-menu') %>
  <h1>Dictionary</h1>
  <%- include headers/scripts %>
</body>
</html>
