<div class="row" style="margin-top:25px;">
	<div class="col-sm-4"></div>
	<div class="col-sm-4 card">
		<div class="card-body">
			<h5 class="card-title">404</h5>
			<p class="card-text">Page not found!</p>
			<a href="/" class="btn btn-outline-dark">main page</a>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>