<div class="row" style="margin-top:25px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 card">
        <form class="card-body">
            <h5 class="card-title">Authorization</h5>
            <div class="form-group">
                <label for="login">login</label>
                <input type="text" class="form-control" id="login" placeholder="login">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>

            <div>
                <a href="registration">registration</a>
                <a href="restorepass" style="float:right;">forgot password?</a>
            </div>
            <br>
            <button type="submit" style="float:right;" class="btn btn-outline-dark" >Enter</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
